[submodule "src/odoo_server"]
	path = src/odoo_server
	url = https://github.com/odoo/odoo.git
	branch = 11.0
[submodule "src/oca_addons/web"]
	path = src/oca_addons/web
	url = https://github.com/OCA/web.git
	branch = 11.0
